<app-header></app-header>

<h2>Spiele gegen einen Freund </h2>

<div class="scroll" >
  <table>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Elo</th>
      <th></th>

    </tr>
    <tr *ngFor="let friend of allFriends">
      <td>{{ friend.vorname }}</td>
      <td>{{ friend.nachname }}</td>
      <td>{{ friend.elo }}</td>
      <td><button type="button" (click)="sendRequestMatch(friend)"  class="freundeinladen">Einladen</button></td>
    </tr>
  </table>

</div>

<div class ="container">s
<h2>Spiele gegen einen Benutzer</h2>


<button (click)="queueForMatch()" class="Warteschlange">In die Warteschlange einreihen</button>



</div>

<div class="scroll">
  <h2>Streaming Spiele</h2>
  <table>
    <tr>
      <th>Streamer</th>
      <th>Stream beitreten</th>
    </tr>
    <tr *ngFor="let chessgame of allChessGames" >
      <td>{{ chessgame.name }}</td>
      <td><button (click)="setGameID(chessgame.gameID)">Jetzt beitreten</button></td>
    </tr>
  </table>
  <button (click)="refresh()">Streaming Liste refreshen</button>
</div>

