.scroll {
  background: #D3D3D3;
  height: 300px;
  overflow: scroll;
  width: 40%;
  margin-left: 10%;
}

table {
  width: 230%;
}

/* Add a new class to style the container of the streaming section */
.streaming-container {
  margin-left: 10%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

button {
  cursor: pointer;
}

.Warteschlange {
  margin-left: 10%;
  background-color: green;
  color: #FFFFFF;
  padding: 0.75em;
}

.freundeinladen, button {
  color: #FFFFFF;
  background-color: #0D99FF;
}

.freundeinladen:hover, button:hover {
  background-color: royalblue;
}

.Warteschlange:hover {
  background-color: darkgreen;
}

h2 {
  margin-left: 10%;
  margin-top: 5%;
}

.scroll table {
  width: 100%;
}

.refresh-button {
  bottom: 10px;
  margin-top: 20px;
  margin-left: 3px;
  background-color: midnightblue;
}
