/*Der ,,Partie ausblenden'' Button*/
button {
  color: #FFFFFF;
  background-color: #0D99FF;
  padding: 8px;
  border: 2px solid #1E1E1E;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 38%;
  margin-top: 45%;
  width: 20%;
}
