<app-header></app-header>

<div class = "container">
  <div class="center">
    <h2>GruppenChat</h2>
  </div>
  <div class="center">
    <div #scrollContainer id="messageContainer" class="messageContainer" style="overflow-y: auto">
      <p class="empty center" *ngIf="messages.length === 0">Es gibt noch keine Nachrichten. Schreibe unten eine neue!</p>
      <div class="message" *ngFor="let message of messages, let i = index">
        <div class="messageWrapper">
          <div>
            <p class="sender" [ngClass]="{'senderUser': message.senderId === user.id}">{{message.senderName}}</p>
          </div>
          <div class="contentWrapper">
            <p id="{{i}}" class="content" contenteditable="false">{{message.content}}</p>
          </div>
        </div>
        <p *ngIf="message.senderId == user.id && message.chatMessageStatus == 'UNREAD'" >
          <button class="edit" (click)="edit(message)">Bearbeiten</button> oder
          <button class="edit" (click)="deleteGroupMessage(message)">Löschen</button>
        </p>
        <div *ngIf="message.editable">
          <form class="form" (ngSubmit)="sendEdit(message)" #messageEditForm="ngForm">
            <input type="text" [(ngModel)]="message.newContent"
                   id="newContent"
                   name="newContent"
            >
            <button type="submit" [disabled]="!messageEditForm.form.valid">Senden</button>
          </form>
        </div>
      </div>
    </div>
    </div>

  <div class="center outerInputContainer">
    <div class="inputContainer">
      <form class="form" (ngSubmit)="sendMessage(content)" #messageForm="ngForm">
        <input type="text" [(ngModel)]="content"
               id="content"
               name="content"
               placeholder="   Geben Sie eine Nachricht ein..."

        >
        <button type="submit" [disabled]="!messageForm.form.valid">Senden</button>
      </form>
    </div>
  </div>

  <div class="memberContainer" style="overflow-y: auto">
    <div id="{{member.id}}" class="member" *ngFor="let member of members">
      <p>{{member.vorname}} {{member.nachname}}</p>
      <button [routerLink]="['/friend-profil-view', member.id]">Profil</button>
    </div>
  </div>




  <div class="center">
    <button class="goBack" routerLink="/homepage">Zurück</button>
  </div>
</div>
