<app-header></app-header>

<div>
  <table id="user-table" *ngIf="user">
    <tr>
      <th>Profilbild</th>
      <th>Name</th>
      <th>Elo</th>
    </tr>
    <tr>
      <td>
        <img class="userPics" *ngIf="user.profilbild" [src]="user.profilbild" alt="Das Profilbild des Users">
        <img class="userPics" *ngIf="!user || !user.profilbild" [src]="url" alt ="Standardprofilbild">
      </td>
      <td>Kaan Hisiroglu</td>
      <td>500</td>
    </tr>
  </table>
  <h3>Timer: 00:00</h3>

  <img id="chessPic" src="/assets/images/Schachbrett.jpg">

  <table id="rival-table" *ngIf="rival">
    <tr>
      <th>Profilbild</th>
      <th>Name</th>
      <th>Elo</th>
    </tr>
    <tr>
      <td>
        <img class="userPics" *ngIf="rival.profilbild" [src]="rival.profilbild" alt="Das Profilbild des Gegners">
        <img class="userPics" *ngIf="!rival || !rival.profilbild" [src]="url" alt ="Standardprofilbild"></td>
      <td>Max Mustermann</td>
      <td>500</td>
    </tr>
  </table>
  <h3>Timer: 00:00</h3>

  <br>
  <button (click)="endGame()">Partie aufgeben</button>
</div>


