/*Der ,,Partie ausblenden'' Button*/
button {
  color: #FFFFFF;
  background-color: #0D99FF;
  padding: 8px;
  border: 2px solid #1E1E1E;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
}

button:hover {
  background-color: royalblue;
}

h3 {
  font-size: 20px;
  color: #1E1E1E;;
}

#chessPic {
  width: 500px;
  height: 450px;
}

.userPics {
  width: 100px;
  height: 100px;
}

/*Die Design Eigenschaften der Tabelle*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #1E1E1E;
}

#user-table {
  margin-bottom: 10px;
}

#rival-table {
  margin-top: 10px;
}



