/*Der ,,Partie ausblenden'' Button*/
button {
  color: #FFFFFF;
  background-color: #0D99FF;
  padding: 8px;
  border: 2px solid #1E1E1E;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 38%;
  width: 20%;
}

button:hover {
  background-color: royalblue;
}

/*Verschiebt die Spieldaten nach oben*/
#gamedata {
  position: relative;
  bottom: 650px;
}

#chessPic {
  width: 450px;
  height: 450px;
}

.userPic {
  width: 100px;
  height: 100px;
}
