<app-header></app-header>

<h2>Schachclub </h2>
<div *ngIf="chessClubMembers">
<h3>Gruppenmitglieder</h3>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
  </tr>

  <tr *ngFor="let user of chessClubMembers" >
    <td>{{ user.vorname }}</td>
    <td>{{ user.nachname }}</td>
  </tr>
</table>

</div>

<div class="SchachClubChat"><h3 class="SchachClubChat">Chat mit den Mitgliedern der Gruppe "{{chessClubName}}"</h3>

  <div #scrollContainer id="messageContainer" class="messageContainer" style="overflow-y: auto">
    <p class="empty center" *ngIf="messages.length === 0">Es gibt noch keine Nachrichten. Schreibe unten eine neue!</p>
    <div class="message" *ngFor="let message of messages">
      <div class="messageWrapper">
        <div>
          <p class="sender" [ngClass]="{'senderUser': message.senderId === user.id}">{{message.senderName}}</p>
        </div>
        <div class="contentWrapper">
          <p  class="content">{{message.content}}</p>
        </div>
      </div>
      <p *ngIf="message.senderId == user.id && message.chatMessageStatus == 'UNREAD'" >
        <button class="edit" (click)="edit(message)">Bearbeiten</button> oder
        <button class="edit" (click)="deleteGroupMessage(message)">Löschen</button>
      </p>
      <div *ngIf="message.editable">
        <form class="form" (ngSubmit)="sendEdit(message)" #messageEditForm="ngForm">
          <input type="text" [(ngModel)]="message.newContent"
                 id="newContent"
                 name="newContent"
          >
          <button type="submit" [disabled]="!messageEditForm.form.valid">Senden</button>
        </form>
      </div>
    </div>
  </div>

<div class="center outerInputContainer">
  <div class="inputContainer">
    <form class="form" (ngSubmit)="sendMessage(content)" #messageForm="ngForm">
      <input type="text" [(ngModel)]="content"
             id="content"
             name="content"
             placeholder="Geben Sie eine Nachricht ein..."

      >
      <button type="submit" [disabled]="!messageForm.form.valid">Senden</button>
    </form>
  </div>
  </div>

</div>
<div class = "leaveChessClub">
  <button class="VerlassenButton" (click)="leaveChessClub()">
    SchachClub verlassen
  </button>

</div>


