<app-header></app-header>

<h2>Schachclub </h2>
<div *ngIf="chessClubMembers">
<h3>Gruppenmitglieder</h3>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <tr *ngFor="let user of chessClubMembers" >
    <td>{{ user.vorname }}</td>
    <td>{{ user.nachname }}</td>
  </tr>
</table>

</div>

<div><h3 class="SchachClubChat">Chat mit den Mitgliedern der Gruppe {{ schachClubname}}</h3>

  <div class="message-input">
    <!-- Eingabebereich für neue Nachrichten -->
    <input type="text" id="new-message" placeholder="Schreibe deine Nachricht...">
    <button onclick="sendMessage()">Senden</button>
  </div>

</div>


