<app-header></app-header>

<div class = "card">
  <div class ="form-group">
    <form (ngSubmit)="createClub(createClubForm.value)"  #createClubForm="ngForm">

    <h3>Schachclub erstellen </h3>
    <label for="createClub">Gebe einen Namen für den Schachclub ein:</label>
    <br>
    <input
      type="text"
      name ="name"
      id="createClub"
      ngModel
      >
      <input
        type="submit"
        id="createClubButton"
        value="Erstellen">

      <!-- <button type="submit" id="createClubButton"  class="createSchachclub">Erstellen</button> -->
    </form>




    <h3>Schachclub beitreten </h3>
    <label>Gebe den Namen für den Schachclub ein, in dem du beitreten möchtest:</label>
    <br>
    <input
      type="text"
      class="form-control"
      name="schachclub beitreten"
      id="schachclub beitreten"
    />
     <!-- <button (click)="joinClub()" class="joinSchachclub">Beitreten</button> -->


    <h3>Übersicht aller Schachclubs </h3>



  </div>
  <div class = "SchachSpiel">
    <img src="assets/images/Schachbrett.jpg">
    <button routerLink="/create-play-against-user" >Spiel gegen Benutzer</button>
    <button routerLink="/chess-puzzle" >Starte ein Schachpuzzle</button>
  </div>
  <div class = "GruppenChat">
    <div class="center">
      <h2>Gruppen</h2>
    </div>
    <div class="center">
      <div class="groupContainer" style="overflow-y: auto">
        <div id="{{group.id}}" class="group" *ngFor="let group of allgroups; let i = index">
          <div class="groupContent">
            <p>{{group.id}}</p>
            <button class="innerButton" [routerLink]="['/groupchat', group.id]">Chat</button>
            <button class="innerRedButton">Verlassen</button>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <button class="button" routerLink="/createGroups">Neuen Gruppenchat erstellen</button>
    </div>
  </div>
  </div>
