<app-header></app-header>

<div class = "card">
  <div class ="form-group" *ngIf="!schachclubId">
    <form (ngSubmit)="createClub(createClubForm.value)"  #createClubForm="ngForm">

    <h3>Schachclub erstellen </h3>
    <label for="createClub">Gebe einen Namen für den Schachclub ein:</label>
    <br>
    <input
      type="text"
      name ="name"
      id="createClub"
      ngModel
      >
      <input
        type="submit"
        id="createClubButton"
        value="Erstellen">

    </form>

    <form (ngSubmit)="joinClub(joinClubForm.value)"  #joinClubForm="ngForm">
    <h3>Schachclub beitreten </h3>
    <label for="joinClub">Gebe den Namen für den Schachclub ein, in dem du beitreten möchtest:</label>
    <br>
    <input
      type="text"
      name="name"
      id="joinClub"
      ngModel>
    <input
      type="submit"
      id="joinClubButton"
      value="Beitreten">
    </form>
  </div>

  <div *ngIf="schachclubId ">
    <button [routerLink]="['/schachclub', schachclubId]">
      Hier gelangst du zu deinem Schachclub
    </button>

  </div>


  <div class="ÜbersichtSchachclub">
    <h3>Übersicht aller Schachclubs </h3>

    <table>
      <tr>
        <th>Clubname</th>
      </tr>

      <tr *ngFor="let ChessClub of allChessClubs" >
        <td>{{ ChessClub.name }}</td>
      </tr>
    </table>
  </div>


  <div class = "SchachSpiel">
    <img src="assets/images/Schachbrett.jpg">
    <button routerLink="/create-play-against-user" >Spiel gegen Benutzer</button>
    <button routerLink="/chess-puzzle" >Starte ein Schachpuzzle</button>
  </div>

  <div class = "GruppenChat">
    <div class="center">
      <h2>Gruppen</h2>
    </div>
    <div class="center">
      <div class="groupContainer" style="overflow-y: auto">
        <div id="{{group.chatId}}" class="group" *ngFor="let group of allgroups">
          <div class="groupContent">
            <p>{{group.privateGroupName}}</p>
            <button class="innerButton" [routerLink]="['/groupchat', group.privateGroupName]">Chat</button>
            <button class="innerRedButton" (click)="leaveGroup(group.privateGroupName)">Verlassen</button>
          </div>
        </div>
      </div>
    </div>
    <div class="center">
      <button class="button" routerLink="/addmembers">Neuen Gruppenchat erstellen</button>
    </div>
  </div>
  </div>
