.card {
  display: flex;
  text-align: center;
}
button{
  cursor: pointer;
}

.Schachclub{
  width: 33%;
}
.SchachSpiel{
  width: 33%;
}
.GruppenChat{
  width: 33%;
}

img {
  max-width: 100%;
  margin-bottom: 1%;
}
button {
  width: 100%;
  padding: 1%;
  margin: 0.1%;
  cursor: pointer;
}
table, th, td {
  margin-left: 20%;
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  color: royalblue;
}

.ÜbersichtSchachclub{
  margin-top: 20%;
  margin-left: -300px;
  margin-right: 150px;
  margin-top: 30%;
}

.SchachclubErstellenButton {
  color: #FFFFFF;
  background-color: #0D99FF;
  border: 2px solid #1E1E1E;
  margin-left: 3%;
  cursor: pointer;

}

.SchachclubBeitretenButton{

  color: #FFFFFF;
  background-color: #0D99FF;
  border: 2px solid #1E1E1E;
  margin-left: 3%;
  cursor: pointer;

}

.groupContainer{
  width: 98%;
  margin-left: auto;
  height: 500px;
  border: solid 1px black;
  border-radius: 4px;
}
.group{
  height: 65px;
  border-bottom: solid 1px black;
}
.group p {
  font-family: Arial;
  margin-bottom: 3px;
}
.groupContent{
  margin-left: 10px;
}
.button{
  margin-top: 20px;
  width: 250px;
  height: 25px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  border-color: dodgerblue;
}
.button:hover{
  background-color: royalblue;
}
.buttonGruppen{
  width: 30%;
  float: left;
  margin-left: 5px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  border-color: dodgerblue;
}
.buttonGruppen:hover{
  background-color: royalblue;
}
.buttonVerlassen{
  float: right;
  margin-right: 5px;
  width: 18%;
  background-color: red;
  color: white;
  border-radius: 5px;
  border-color: red;
}
.buttonVerlassen:hover{
  background-color: rgb(238, 90, 94);
  border-color: rgb(238, 90, 94);
}
.groupContent p{
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
}
.empty{
  margin-top: 25%;
  font-family: Arial;
}
