.card {
  display: flex;
  text-align: center;
}
.Schachclub{
  width: 33%;
}
.SchachSpiel{
  width: 33%;
}
.GruppenChat{
  width: 33%;
}

img {
  max-width: 100%;
  margin-bottom: 1%;
}
button {
  width: 100%;
  padding: 1%;
  margin: 0.1%;
  cursor: pointer;
}
table, th, td {
  margin-left: 20%;
}

th{
  color: royalblue;
}

.ÜbersichtSchachclub{
  margin-top: 20%;

}
