<app-header></app-header>

<form>
  <div class="container-private">
    <label for="private">Privat</label>
    <input id="private" name="privacy" type="radio" (click) = changeToPrivate()>
  </div>
  <br>
  <div class="container-public">
    <label for="public">Öffentlich</label>
    <input id="public" name="privacy" type="radio">
  </div>
</form>

<h1>Meine Freundesliste</h1>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Geburtsdatum</th>
    <th>Elo</th>
  </tr>
  <tr *ngFor="let friend of allFriends">
    <td>{{ friend.vorname }}</td>
    <td>{{ friend.nachname }}</td>
    <td>{{ friend.geburtsdatum }}</td>
    <td>{{ friend.elo }}</td>
    <td><a href="friend-profil-view/:userId">Profil</a></td>
  </tr>
</table>

