<app-header></app-header>

<p><b>{{privacyText}}</b></p>

<form>
  <input id="private" name="privacy" type="button" value="Privatsphäre ändern" (click) = changePrivacy()>
</form>

<h1>Meine Freundesliste</h1>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Geburtsdatum</th>
    <th>Elo</th>
    <th>Profil</th>
    <th>Freunde</th>
    <th>Löschen</th>
    <th>Chat</th>
  </tr>

  <tr *ngFor="let friend of allFriends">
    <td>{{ friend.vorname }}</td>
    <td>{{ friend.nachname }}</td>
    <td>{{ friend.geburtsdatum }}</td>
    <td>{{ friend.elo }}</td>
    <td><a [routerLink]="['/friend-profil-view', friend.id]">Profil</a></td>
    <td><a [routerLink]="['/friendlist-of-friends', friend.id]">Freunde</a></td>
    <td><button id="deleteButton" type="button" (click)="onDeleteFriend(friend)">Löschen</button></td>
    <td><button id="chatButton" type="button" (click)="createPrivateChat(friend.id)">Chat</button></td>
  </tr>
</table>

