
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

h1 {
  text-align: center;
}
input {
  margin: 0.80em 0em 1em 0em;
  outline: none;
  border: none;
  border-radius: 0.25em;
  color: black;
  padding : 0.5em;
  width: 97%;
}

button {
  padding: 0.90em;

  outline: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.45em;
  cursor:pointer;
}

.registerButton:hover{
  background-color: royalblue;
}

.Zurück:hover{
  background-color: royalblue;
}

img {
  max-width:30%;
  height: auto;
  margin-left: 33%;
}

.underlined-label{
  cursor: pointer;
  color: darkgreen;


}







