.table-striped {
  display: block;
  flex-direction: column;
  width: 40vw;
  margin-left: 570px;
  margin-top: 170px;

  font-size: 25pt;
}

img {
  max-width:30%;
  height: auto;
  margin-left: 0%;
  margin-top: 20px;
}

label{
font-size: 20px;
}
 .underlined-label{
   cursor: pointer;
   color: darkgreen;


 }

.Spielhistorie{
  padding: 100px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 460px;
  margin-top: 40px;
  font-size: 150%;
  width: 50%;
  }

.Spielhistorie th, .Spielhistorie td {
  border: 1px solid grey;
  padding: 8px;
  text-align: left;
}

.Spielhistorie th {
  background-color: darkgreen;
}

h2{
  margin-left: 460px;
  margin-top: 150px;
  font-size: 250%;
}

.Stream {
  margin-top: 9px;
  text-align: right;
  margin-right: 23%;
}
.Streamm{
  margin-top: 9px;
  text-align: right;
  margin-right: 23%;
  color: #FFFFFF;
  background-color: #0D99FF;
  cursor: pointer;
  border: #1E1E1E solid 1px;
}
.Stream:hover {
}

