<app-header></app-header>


<table class="table table-striped" *ngIf="user">
  <a><img *ngIf="user && user.profilbild" [src]="user.profilbild" alt="Profilbild">
    <img *ngIf="!user || !user.profilbild" [src]="url" alt ="Standardprofilbild">
    <input
      type="file"
      id="img"
      style="display:none"
      accept="image/*"

      (change)="onSelect($event)"




    />
    <label for="img" class="underlined-label">Bild hochladen</label>
  </a>


  <table>
    <tbody>
    <tr>
      <td><strong>Vorname</strong></td>
      <td>:</td>
      <td>{{ user.vorname}}</td>
    </tr>
    <tr>
      <td><strong>Nachname</strong></td>
      <td>:</td>
      <td>{{ user.nachname }}</td>
    </tr>
    <tr>
      <td><strong>E-Mail</strong></td>
      <td>:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td><strong>Geburtsdatum</strong></td>
      <td>:</td>
      <td>{{ user.geburtsdatum }}</td>
    </tr>
    <tr>
      <td><strong>Punkte</strong></td>
      <td>:</td>
      <td>{{ user.elo}}</td>
    </tr>
    <tr>
    <tr>
      <td><strong>Schachclub</strong></td>
      <td>:</td>
      <td>{{ schachClubname}}</td>
    </tr>
    <tr>
    </tr>
    </tbody>
  </table>
</table>

