<app-header></app-header>


<table class="table table-striped" *ngIf="user">
  <a><img *ngIf="user && user.profilbild" [src]="user.profilbild" alt="Profilbild">
    <img *ngIf="!user || !user.profilbild" [src]="url" alt ="Standardprofilbild">
    <input
      type="file"
      id="img"
      style="display:none"
      accept="image/*"
      (change)="onSelect($event)"




    />
    <label for="img" class="underlined-label">Bild hochladen</label></a>


  <table>
    <tbody>
    <tr>
      <td> Vorname</td>
      <td>:</td>
      <td>{{ user.vorname}}</td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td>:</td>
      <td>{{ user.nachname }}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Geburtsdatum</td>
      <td>:</td>
      <td>{{ user.geburtsdatum }}</td>
    </tr>
    <tr>
      <td>Punkte</td>
      <td>:</td>
      <td>{{ user.elo}}</td>
    </tr>
    <tr>
    </tr>
    </tbody>
  </table>
</table>

