<app-header></app-header>


<div class="container">
  <a href="/"><img id="profilicon" src="assets/images/profil-picture-icon.png"></a>
  <u><h2>Max Mustermann</h2></u>
  <table>
    <tbody>
    <tr>
      <td>Vorname</td>
      <td>:</td>
      <td>Max</td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td>:</td>
      <td>Muster</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>:</td>
      <td>maxmustermann@muster.com</td>
    </tr>
    <tr>
      <td>Geburtsdatum</td>
      <td>:</td>
      <td>20.12.1995</td>
    </tr>
    <tr>
      <td>Punkte</td>
      <td>:</td>
      <td>500</td>
    </tr>
    <tr>
    </tr>
    </tbody>
  </table>
</div>

