<div class="container">
  <div class="center">
    <h1>Authentifizierung</h1>
  </div>
  <div class="center"><p>Bitte geben Sie den Code ein, den wir Ihnen per Mail zugesendet haben!</p></div>
  <form (ngSubmit)="submitCode()" #authentication="ngForm">
    <div class="center">
      <input type="text" [(ngModel)]="code"
             id="code"
             name="code"
             placeholder="   Authentifizierungs-Code">

    <button type="submit" [disabled]="!authentication.valid" class="submit">Weiter</button>
    </div>
  </form>
  <div class="center">
    <p>Vorgang abbrechen? Dann klicken Sie <a href="/">hier</a> </p>
  </div>

</div>
