<app-header></app-header>


<table class="table table-striped" *ngIf="user">

  <a><img *ngIf="user.profilbild"  [src]="user.profilbild">
  <img *ngIf="!user.profilbild"  src="assets/images/profil-picture-icon.png">
  </a>


  <table>
    <tbody>
    <tr>
      <td> Vorname</td>
      <td>:</td>
      <td>{{ user.vorname}}</td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td>:</td>
      <td>{{ user.nachname }}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>:</td>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <td>Geburtsdatum</td>
      <td>:</td>
      <td>{{ user.geburtsdatum }}</td>
    </tr>
    <tr>
      <td>Punkte</td>
      <td>:</td>
      <td>{{ user.elo}}</td>
    </tr>
    <tr>
    </tr>
    </tbody>
  </table>
</table>



