

.table {
  display: block;
  flex-direction: column;
  width: 40vw;
  margin-left: 570px;
  margin-top: 170px;

  font-size: 22pt;
}

img {
  max-width:30%;
  height: auto;
  margin-left: 0%;
  margin-top: 20px;
}
