.alles{
  display:flex;
  align-items: flex-start;
  margin-top: 30px;
  width: 100%;
}

.split-links{
  width:50%;
}
.Bild{
  width: 100%;
}
.split-rechts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-top: 10%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

button{
    color: #FFFFFF;
    background-color: #0D99FF;
    padding: 8px;
    border: 2px solid #1E1E1E;
    border-radius: 10px;
    cursor: pointer;
  width: 170px;
  margin-top: 10%;
}

.h2{
  font-size: 150%;
}

.h3{
  color: dodgerblue;;
}


