<app-header></app-header>
<div class = "alles">

  <div class = "split-links">
    <h2>Spiel gegen Computer erstellen</h2>
  <img class = "Bild" src="assets/images/Schachbrett.jpg">
  </div>

  <div class="split-rechts">
    <div>
      <h3>Schwierigkeitsstufe auswählen</h3>

      <label>
        <input type="radio" name="difficulty" value="Anfänger" [(ngModel)]="selectedDifficulty"> Anfänger
      </label>

      <br>

      <label>
        <input type="radio" name="difficulty" value="Fortgeschritten" [(ngModel)]="selectedDifficulty"> Fortgeschritten
      </label>

      <br>

      <label>
        <input type="radio" name="difficulty" value="Schwer" [(ngModel)]="selectedDifficulty"> Schwer
      </label>
    </div>
    <button id="partieStarten" (click)="queueForMatch(selectedDifficulty)">Partie starten</button>
  </div>

</div>
