.container {
  display: flex;
  justify-content: space-between;
}
.center {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.scroll {
  height: 500px;
  width: 50%;
}

.friendContainer, .playContainer{
  overflow-y: auto;
  width:99%;
  height: 500px;
  border: solid 1px black;
  border-radius: 4px;
  scroll-behavior: smooth;
}
.scroll{
  scroll-behavior: smooth;
}
.friend{
  height: 60px;
  border-bottom: solid 2px black;
  width: 97%;
}
.button{
  margin-top: 20px;
  width: 250px;
  height: 25px;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  border-color: dodgerblue;
}
.button:hover{
  background-color: royalblue;
}

.innerGreenButton{
  width: 52%;
  background-color: rgb(54, 178, 31);
  color: white;
  border-radius: 5px;
  border-color: rgb(54, 178, 31);
}
.innerGreenButton:hover{
  background-color: rgb(74, 190, 53);
  border-color: rgb(74, 190, 53);
}
.friend p{
  font-family: Arial;
  margin-bottom: 10px;
  margin-left: 3px;
}
.innerRedButton{
  width: 48%;
  background-color: rgb(232, 57, 62);
  color: white;
  border-radius: 5px;
  border-color: rgb(232, 57, 62);
}
.innerRedButton:hover{
  background-color: rgb(238, 90, 94);
  border-color: rgb(238, 90, 94);
}
.floatRight{
  width: 50%;
  float: right;
  text-align: right;
}
.innerButton{
  width: 20%;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  border-color: dodgerblue;
  margin-left: 3px;

}
.innerButton:hover{
  background-color: royalblue;
}
