<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
    <a href="/homepage"><h1>ChesSEP</h1></a>
    <a href="/homepage"><img id="chessboard" src="assets/images/chess-board.png"></a>

    <div id="link-container">
      <a href="/user-profil-view" class="links">Mein Profil</a>
      <a href="/friendslist" class="links">Freundesliste</a>
      <a href="/addfriend" class="links">Freund hinzufügen</a>
      <a href="/invitation" class="links">Nachrichten</a>
    </div>

  </div>
<hr>
</body>
</html>
