<app-header></app-header>

<h2>Schachpuzzle</h2>
<p>Löse 3 Schachpuzzle und erhalte den Titel ''Schachexperte''!</p>
<p>Schachpuzzle aus CSV-Datei importieren:</p>
<input type="file" (change)="onFileSelected($event)" />

<br><br><br>

<table>
    <tr>
      <th>PuzzleNr</th>
      <th>PuzzleTags</th>
      <th>Aktion</th>
    </tr>
  
    <tr *ngFor="let info of Allinfo; let i=index">
      <td>{{ i }}</td>
      <td>{{ info }}</td>
      <td><button id="chatButton" (click)="buttonManager(i)" type="button">Chat</button></td>
    </tr>

<img id="chessPic" src="/assets/images/Schachbrett.jpg">
