<div class = "container">
  <div class="center">
    <h1> Login</h1>
  </div>

  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class = "center">
      <input type = "email" [(ngModel)]="user.email"
             id = "email"
             name = "email"
             placeholder="  E-mail" >
    </div>

    <div class = "center">
      <input type = "password" [(ngModel)]="user.passwort"
             id = "password"
             name = "password"
             placeholder="  Passwort">
    </div>

    <div class="center">
      <button type="submit" [disabled]="!loginForm.form.valid"
              class="loginButton">Login</button>
    </div>
  </form>

  <div class="center"><p class="register">Du hast noch kein Nutzer-Konto? Hier <a routerLink="/register">registrieren!</a></p></div>
</div>
