<div class = "container">
  <div class="center">
    <h1> Login</h1>
  </div>

  <form>
    <div class = "center">
      <input type = "email"
             id = "email"
             name = "email"
             placeholder="  E-mail">
    </div>

    <div class = "center">
      <input type = "password"
             id = "password"
             name = "password"
             placeholder="  Passwort">
    </div>

    <div class="center">
      <button type="submit"
              class="loginButton">Login</button>
    </div>

    <div class="center">
      <button routerLink="/" class="zurückButton">Zurück</button>
    </div>

  </form>

  <div class="center"><p class="register">Du hast noch kein Nutzer-Konto? Hier <a routerLink="/register">registrieren!</a></p></div>
</div>
